<ng-container *ngIf="!isLoading">
  <!--Main layout-->
  <main>
    <div class="container pt-4">

      <section>
        <div class="row">
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <i class="fas fa-running text-info fa-3x me-4"></i>
                    </div>
                    <div>
                      <h4>{{'home.totalTrainings' | translate}}</h4>
                      <p class="mb-0">{{'home.fromBeggining' | translate}}</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <h2 class="h1 mb-0">{{this.totalTrainings}}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <i class="far fa-heart text-danger fa-3x me-4"></i>

                    </div>
                    <div>
                      <h4>{{'home.totalReps' | translate}}</h4>
                      <p class="mb-0">{{'home.fromBeggining' | translate}}</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <h2 class="h1 mb-0">{{this.totalReps}}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <h2 class="h1 mb-0 me-4">{{this.totalWeight}} kg</h2>
                    </div>
                    <div>
                      <h4>{{'home.totalLifted' | translate}}</h4>
                      <p class="mb-0">{{'home.fromBeggining' | translate}}</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-weight-hanging text-info fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <h2 class="h1 mb-0 me-4">{{this.totalCalories}} kcal</h2>
                    </div>
                    <div>
                      <h4>{{'home.totalCalories' | translate}}</h4>
                      <p class="mb-0">{{'home.fromBeggining' | translate}}</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-fire text-danger fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Minimal statistics cards-->
      <section>
        <!--General-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-success">{{this.lists.length}}</h3>
                    <p class="mb-0">{{ "home.amountOfLists" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fab fa-buffer text-success fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-success">{{this.activities.length}}</h3>
                    <p class="mb-0">{{ "home.amountOfActivities" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-check text-success fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-success">{{this.content.length}}</h3>
                    <p class="mb-0">{{ "home.amountOfEntries" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-pencil-alt text-success fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 *ngIf="consistency === 'good'" class="text-success">{{ "home.good" | translate }}</h3>
                    <h3 *ngIf="consistency === 'neutral'" class="text-warning">{{ "home.neutral" | translate }}</h3>
                    <h3 *ngIf="consistency === 'bad'" class="text-danger">{{ "home.bad" | translate }}</h3>
                    <h3 *ngIf="consistency === 'lack'" class="text-warning">{{ "home.lack" | translate }}</h3>
                    <p class="mb-0">{{ "home.consistency" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i *ngIf="consistency === 'good'" class="fas fa-thumbs-up text-success fa-3x"></i>
                    <i *ngIf="consistency === 'neutral'" class="fas fa-hand-rock text-warning fa-3x"></i>
                    <i *ngIf="consistency === 'bad'" class="fas fa-thumbs-down text-danger fa-3x"></i>
                    <i *ngIf="consistency === 'lack'" class="fas fa-praying-hands text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Trainings-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-info">{{this.trainingLists.length}}</h3>
                    <p class="mb-0">{{ "home.amountOfTrainingLists" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-book-open text-info fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-info">{{this.trainingActivities.length}}</h3>
                    <p class="mb-0">{{ "home.amountOfTrainingActivities" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-dumbbell text-info fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-info">{{this.trainingContent.length}}</h3>
                    <p class="mb-0">{{ "home.amountOfTrainingEntries" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-pencil-alt text-info fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 *ngIf="this.excercisesProgress >= 0" class="text-success">{{ this.excercisesProgress}} %</h3>
                    <h3 *ngIf="this.excercisesProgress < 0" class="text-danger">{{ this.excercisesProgress}} %</h3>
                    <p *ngIf="this.excercisesProgress >= 0" class="mb-0">{{ "home.increase" | translate }}</p>
                    <p *ngIf="this.excercisesProgress < 0" class="mb-0">{{ "home.regress" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i *ngIf="this.excercisesProgress >= 0" class="fas fa-chart-pie text-success fa-3x"></i>
                    <i *ngIf="this.excercisesProgress < 0" class="fas fa-chart-pie text-danger fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Measurements-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning">{{this.measurementLists.length}}</h3>
                    <p class="mb-0">{{ "home.amountOfMeasurementLists" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-book-open text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning">{{this.measurementActivities.length}}</h3>
                    <p class="mb-0">{{ "home.amountOfMeasurementActivities" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-weight text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning">{{this.measurementContent.length}}</h3>
                    <p class="mb-0">{{ "home.amountOfMeasurementEntries" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-pencil-alt text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <div>
                    <h3 class="text-warning">{{this.measurementProgress}} %</h3>
                    <p class="mb-0">{{ "home.change" | translate }}</p>
                  </div>
                  <div class="align-self-center">
                    <i class="fas fa-chart-pie text-warning fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  >
</ng-container>

<app-loading-spinner *ngIf="isLoading" class="d-flex justify-content-center"></app-loading-spinner>
