<div>
  <h1>{{ 'main.h1' | translate }}</h1>

  <!-- translation: translation pipe -->
  <p>{{ 'main.h1' | translate }}</p>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'main.h1'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>main.h1</p>

  <button (click)="useLanguage('en')">en</button>
  <button (click)="useLanguage('pl')">pl</button>
</div>

<div class="wrapper">
  <app-navbar></app-navbar>
  <app-main-component></app-main-component>
  <app-footer></app-footer>
</div>


