<ng-container *ngIf="!isLoading">
  <div class="container-fluid">
    <main>
      <div class="container pt-4">

        <section class="mb-4">
          <ng-container *ngIf="content.length > 0">
          <div class="card">
            <div class="card-header py-3">
              <h5 class="mb-0 text-center"><strong>{{activity.activityName.toString()}}</strong></h5>
            </div>
            <div class="card-body">
              <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
              <app-line-chart [data]="content"></app-line-chart>
          </div>
          </ng-container>
        </section>

        <section class="mb-4">
          <div class="card">
            <div class="card-header text-center py-3">
              <h5 class="mb-0 text-center">
                <strong>Entries</strong>
              </h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                  <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Entry</th>
                    <th scope="col">Created</th>
                    <th scope="col">Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container
                    *ngFor="let entry of content |
                     paginate: {itemsPerPage: 10, currentPage: page};
                    let index = index"
                  >
                    <tr>
                      <td>{{index + 1}}</td>
                      <td>{{entry.content}}</td>
                      <td>{{entry.created | date: 'fullDate'}}</td>
                      <td>
                        <button class="btn btn-sm btn-warning" (click)="openEditModal(entry)">
                          <i class="fa fa-edit"> Edit</i>
                        </button>
                        <button class="btn btn-sm btn-danger" (click)="openDeleteModal(entry)">
                          <i class="fa fa-trash"> Delete</i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                  <tbody>
                  <button class="btn btn-primary" role="button" (click)="openAddModal()">New &raquo;</button>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
</ng-container>

<app-loading-spinner *ngIf="isLoading" class="d-flex justify-content-center"></app-loading-spinner>

<app-modal #addModal [modalConfig]="modalConfig">
  <form class="needs-validation" novalidate *ngIf="form != null" [formGroup]="form" (ngSubmit)="onAddSubmit()">
    <div class="form-group">

      <div class="form-floating">
      <input
        class="form-control"
        type="number"
        formControlName="content"
        placeholder="content"
        required minlength="1"
        maxlength="50"
        id="addContent"
      >
        <label for="addContent">Entry</label>
      </div>
      <div class="form-floating">
        <input
        class="form-control"
        type="datetime-local"
        formControlName="created"
        id="addDate"
      >
        <label for="addDate">Date</label>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" (click)="onDismiss('addModal')" type="reset">Cancel</button>
        <button class="btn btn-outline-primary" [disabled]="form.invalid" type="submit">Ok</button>
      </div>
    </div>
  </form>
</app-modal>

<app-modal #deleteModal [modalConfig]="modalConfig">
  <button type="reset" class="btn btn-outline-secondary" (click)="onDismiss('deleteModal')">Cancel</button>
  <button type="button" ngbAutofocus class="btn btn-danger" (click)="deleteModal.close()" (click)="onDelete()">Ok
  </button>
</app-modal>

<app-modal #editModal [modalConfig]="modalConfig">
  <form class="needs-validation" novalidate *ngIf="form != null" [formGroup]="form" (ngSubmit)="onEditSubmit()">
    <div class="form-group">
      <div class="form-floating">
        <input
          class="form-control"
          formControlName="content"
          type="text"
          placeholder="Entry"
          required minlength="1"
          maxlength="50"
          id="editContent"
        >
        <label for="editContent">Entry</label>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" (click)="onDismiss('editModal')" type="reset">Cancel</button>
        <button class="btn btn-outline-primary" [disabled]="form.invalid" type="submit">Ok</button>
      </div>
    </div>
  </form>
</app-modal>
