<ng-container *ngIf="!isLoading">
  <div class="container-fluid">
    <main>
      <div class="container pt-4">

        <section class="mb-4">
          <ng-container *ngIf="content.length > 0">
            <div class="card shadow-lg">
              <div class="card-header py-3">
                <h5 class="mb-0 text-center"><strong>{{activity.activityName}}</strong></h5>
              </div>
              <div class="card-body">
                <div class="btn-group">
                  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" type="button">
                    <span data-feather="calendar"></span>
                    {{ 'chart.timeRange' | translate }}
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="setDataRange(7)">{{ 'date.week' | translate }}</a></li>
                    <li><a class="dropdown-item" (click)="setDataRange(30)">{{ 'date.month' | translate }}</a></li>
                    <li><a class="dropdown-item" (click)="setDataRange(90)">{{ 'date.3month' | translate }}</a></li>
                    <li><a class="dropdown-item" (click)="setDataRange(180)">{{ 'date.6months' | translate }}</a></li>
                    <li><a class="dropdown-item" (click)="setDataRange(365)">{{ 'date.year' | translate }}</a></li>
                    <li><a class="dropdown-item" (click)="setDataRange(-1)">{{ 'date.all' | translate }}</a></li>
                  </ul>
                </div>
              </div>
              <app-line-chart [data]="editedContent"></app-line-chart>
            </div>
          </ng-container>
        </section>

        <section class="mb-4">
          <div class="card shadow-lg">
            <div class="card-header text-center py-3">
              <h5 class="mb-0 text-center">
                <strong>{{ "activity-details.entries" | translate }}</strong>
              </h5>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                  <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th style="cursor: pointer" scope="col" [appSort]="content" data-order="desc" data-name="content">{{ "activity-details.entry" | translate}}</th>
                    <th *ngIf="isTraining" style="cursor: pointer" scope="col" [appSort]="content" data-order="desc" data-name="repetitions">{{ "activity-details.repetitions" | translate}}</th>
                    <th style="cursor: pointer" scope="col" [appSort]="content" data-order="desc" data-name="created" data-type="date">{{ "activity-details.created" | translate}}</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container
                    *ngFor="let entry of content | paginate: {itemsPerPage: 10, currentPage: page}; let index = index"
                  >
                    <tr>
                      <td>{{index + 1}}</td>
                      <td>{{entry.content}}</td>
                      <td *ngIf="isTraining">{{entry.repetitions}}</td>
                      <td>{{entry.created | date: 'shortDate'}}</td>
                      <td>
                        <div class="btn-group">
                          <button aria-expanded="false" class="btn btn-outline-secondary dropdown-toggle"
                                  data-bs-toggle="dropdown" type="button">
                            {{ "activity-details.action" | translate}}
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <a (click)="openEditModal(entry)" class="dropdown-item">
                                {{ "activity-details.edit" | translate}}
                                <i class="fa fa-pen float-end"></i>
                              </a>
                            </li>
                            <li>
                              <a (click)="openDeleteModal(entry)" class="dropdown-item">
                                {{ "activity-details.delete" | translate}}
                                <i class="fa fa-trash float-end"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
                <button (click)="openAddModal()" class="btn btn-primary" role="button">
                  <i class="fa fa-plus float-end"></i>
                </button>
                <ng-container *ngIf="content.length > 10">
                  <pagination-controls (pageChange)="page = $event"
                                       nextLabel=" {{ 'pagination.next' | translate }} "
                                       previousLabel=" {{ 'pagination.previous' | translate }} "></pagination-controls>
                </ng-container>
               </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
</ng-container>

<app-loading-spinner *ngIf="isLoading" class="d-flex justify-content-center"></app-loading-spinner>

<app-modal #addModal [modalConfig]="modalConfig">
  <form (ngSubmit)="onAddSubmit()" *ngIf="form != null" [formGroup]="form" class="needs-validation" novalidate>
    <div class="form-group">
      <div class="form-floating">
        <input
          mdbInput mdbValidate
          class="form-control"
          formControlName="content"
          id="addContent"
          placeholder="content"
          required
          type="number"
        >
        <label for="addContent"> {{ "activity-details.entry" | translate}}</label>
        <div *ngIf="inputContent.invalid && (inputContent.dirty || inputContent.touched)" class="alert alert-danger">
          <mdb-error></mdb-error>
          <mdb-success></mdb-success>
          <div *ngIf="inputContent.errors?.['required']">{{"error.required" | translate }}</div>
          <div *ngIf="inputContent.errors?.['min']">{{"error.min" | translate }}</div>
          <div *ngIf="inputContent.errors?.['max']">{{"error.max" | translate }}</div>
        </div>
      </div>
      <div *ngIf="isTraining" class="form-floating">
        <input
          mdbInput mdbValidate
          class="form-control"
          formControlName="repetitions"
          id="addRepetitions"
          placeholder="repetitions"
          required
          type="number"
        >
        <label for="addRepetitions"> {{ "activity-details.repetitions" | translate}}</label>
        <div *ngIf="inputRepetitions.invalid && (inputRepetitions.dirty || inputRepetitions.touched)" class="alert alert-danger">
          <mdb-error></mdb-error>
          <mdb-success></mdb-success>
          <div *ngIf="inputRepetitions.errors?.['required']">{{"error.required" | translate }}</div>
          <div *ngIf="inputRepetitions.errors?.['min']">{{"error.min" | translate }}</div>
          <div *ngIf="inputRepetitions.errors?.['max']">{{"error.max" | translate }}</div>
        </div>
      </div>
      <div class="form-floating">
        <input
          class="form-control"
          formControlName="created"
          id="addDate"
          type="datetime-local"
        >
        <label for="addDate">{{ "activity-details.date" | translate}}</label>
      </div>
      <div class="modal-footer">
        <button (click)="onDismiss('addModal')" class="btn btn-outline-secondary"
                type="reset">{{ "activity-details.cancel" | translate}}</button>
        <button [disabled]="form.invalid" class="btn btn-outline-primary" type="submit">Ok</button>
      </div>
    </div>
  </form>
</app-modal>

<app-modal #deleteModal [modalConfig]="modalConfig">
  <button (click)="onDismiss('deleteModal')" class="btn btn-outline-secondary"
          type="reset">{{ "activity-details.cancel" | translate}}</button>
  <button (click)="deleteModal.close()" (click)="onDelete()" class="btn btn-danger" ngbAutofocus type="button">Ok
  </button>
</app-modal>

<app-modal #editModal [modalConfig]="modalConfig">
  <form (ngSubmit)="onEditSubmit()" *ngIf="form != null" [formGroup]="form" class="needs-validation" novalidate>
    <div class="form-group">
      <div class="form-floating">
        <input
          mdbInput mdbValidate
          class="form-control"
          formControlName="content"
          id="editContent"
          placeholder="Entry"
          required
          type="number"
        >
        <label for="editContent">{{ "activity-details.entry" | translate}}</label>
        <div *ngIf="inputContent.invalid && (inputContent.dirty || inputContent.touched)" class="alert alert-danger">
          <mdb-error></mdb-error>
          <mdb-success></mdb-success>
          <div *ngIf="inputContent.errors?.['required']">{{"error.required" | translate }}</div>
          <div *ngIf="inputContent.errors?.['min']">{{"error.min" | translate }}</div>
          <div *ngIf="inputContent.errors?.['max']">{{"error.max" | translate }}</div>
        </div>
      </div>
      <div *ngIf="isTraining" class="form-floating">
        <input
          mdbInput mdbValidate
          class="form-control"
          formControlName="repetitions"
          id="editRepetitions"
          placeholder="Repetitions"
          required
          type="number"
        >
        <label for="editRepetitions"> {{ "activity-details.repetitions" | translate}}</label>
        <div *ngIf="inputRepetitions.invalid && (inputRepetitions.dirty || inputRepetitions.touched)" class="alert alert-danger">
          <mdb-error></mdb-error>
          <mdb-success></mdb-success>
          <div *ngIf="inputRepetitions.errors?.['required']">{{"error.required" | translate }}</div>
          <div *ngIf="inputRepetitions.errors?.['min']">{{"error.min" | translate }}</div>
          <div *ngIf="inputRepetitions.errors?.['max']">{{"error.max" | translate }}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="onDismiss('editModal')" class="btn btn-outline-secondary"
                type="reset">{{ "activity-details.cancel" | translate}}</button>
        <button [disabled]="form.invalid" class="btn btn-outline-primary" type="submit">Ok</button>
      </div>
    </div>
  </form>
</app-modal>
