<header>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Progress tracker</a>
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-bs-target="#navbarContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/activities" routerLinkActive="active">Activities</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" placeholder="Search" type="text">
        </form>
        <ul class="navbar-nav">



          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="united kingdom flag m-0"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"
                ><i class="united kingdom flag"></i>English
                  <i class="fa fa-check text-success ms-2"></i
                  ></a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#"><i class="poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="china flag"></i>中文</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="japan flag"></i>日本語</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="germany flag"></i>Deutsch</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="france flag"></i>Français</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="spain flag"></i>Español</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="russia flag"></i>Русский</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="portugal flag"></i>Português</a>
              </li>
            </ul>
          </li>




          <div *ngIf="!isAuthenticated">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item text-nowrap">
                <a (click)="onLogin()" class="nav-link" routerLink="/login">Login</a>
              </li>
              <li class="nav-item text-nowrap">
                <a (click)="onRegister()" class="nav-link" routerLink="/login">Register</a>
              </li>
            </ul>
          </div>
          <div *ngIf="isAuthenticated">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item text-nowrap">
                <a (click)="onLogout()" class="nav-link" routerLink="/">Logout
                  <fa-icon [icon]="faSignOut"></fa-icon>
                </a>
              </li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
