<ng-container *ngIf="!isLoading">
  <div class="container-fluid">
    <main>
      <div class="container pt-4">
        <section class="mb-4">
          <div class="card shadow-lg">
            <div class="card-header text-center py-3">
              <h5 class="mb-0 text-center"><strong>{{ "activities.activities" | translate }}</strong></h5>
            </div>
            <div class="card-body">
              <ng-container *ngFor = "let list of lists | paginate: {itemsPerPage: 10, currentPage: page}; let i = index">
                <ngb-accordion #acc="ngbAccordion" activeIds="{{'config-panel-one' + 0}}">
                  <ngb-panel class="customLink" title="{{list.listName}}" id="{{'config-panel-one' + i}}">
                    <ng-template ngbPanelContent>
                      <app-activity [list]="list"></app-activity>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
              </ng-container>
            </div>
            <pagination-controls (pageChange)="page = $event" nextLabel=" {{ 'pagination.next' | translate }} " previousLabel=" {{ 'pagination.previous' | translate }} "></pagination-controls>
          </div>
        </section>
      </div>
    </main>
  </div>
</ng-container>
<app-loading-spinner *ngIf="isLoading" class="d-flex justify-content-center"></app-loading-spinner>
