<div class="jumbotron">
  <div class="container">
    <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <main class="inner cover" role="main">
        <h1 class="cover-heading">{{ 'main.h1' | translate }}</h1>
        <p class="lead"> {{ 'main.p' | translate}}</p>
        <p class="lead">
          <a class="btn btn-lg btn-primary" href="#" routerLink="/home">{{'main.button' | translate }}</a>
        </p>
      </main>
    </div>
    </body>
  </div>
</div>
