<div class="container">
  <h4 class="mb-3">Edit activity:</h4>
  <div class="row">
    <form>
      <div class="col-md-8 order-md-1">
        <div class="row">
          <div class="mb-3">
            <label for="activityName">name:</label>
            <input id="activityName" class="form-control">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-danger" type="reset">Clear</button>
        <button class="btn btn-primary">Confirm</button>
      </div>
    </form>
  </div>
</div>
