<!--<div>
  <ol>
    <li *ngFor="let item of activities" >
      <div>{{item.activityName}}</div>
      <ol>
        <li *ngFor="let subItem of item.content">
          <div>{{subItem.content}}</div>
        </li>
      </ol>
    </li>
  </ol>
</div>-->

<div class="container" *ngFor="let activity of activities">
  <div class="row">
    <div class="col-md-4">
      <h2>{{activity.activityName}}</h2>
      <p *ngFor="let content of activity.content">{{content.content}}</p>
      <p><a class="btn btn-primary" href="#" role="button">Details &raquo;</a></p>
    </div>
  </div>
  <hr>
</div>
