<div class="container">
  <h2>Activities</h2>
  <app-loading-spinner *ngIf="isLoading" class="d-flex justify-content-center"></app-loading-spinner>
  <div class="table-responsive" *ngIf="!isLoading">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Entries</th>
        <th>Updated</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <ng-container
        *ngFor="let activity of activities | paginate: {itemsPerPage: 10, currentPage: page}; let index = index">
        <tr>
          <td>{{index + 1}}</td>
          <td>{{activity.activityName}}</td>
          <td>{{activity.content.length}}</td>
          <td *ngIf="activity.content.length == 0">never</td>
          <ng-container *ngFor="let content of activity.content let last = last; ">
            <td *ngIf="last">{{content.created | date: 'fullDate'}}</td>
          </ng-container>
          <td>
            <button routerLink="/details/{{activity.id}}" class="btn btn-sm btn-info">
              <i class="fa fa-search"> Details</i>
            </button>
            <button class="btn btn-sm btn-warning" (click)="openEditModal(activity)">
              <i class="fa fa-edit"> Edit</i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="openDeleteModal(activity)">
              <i class="fa fa-trash"> Delete</i>
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tbody>
      <button class="btn btn-primary" role="button" (click)="openAddModal()">New &raquo;</button>
      </tbody>
    </table>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<app-modal #addModal [modalConfig]="modalConfig">
  <form class="needs-validation" novalidate *ngIf="form != null" [formGroup]="form" (ngSubmit)="onAddSubmit()">
    <div class="form-group">
      <input class="form-control" formControlName="activityName" type="text" placeholder="Name" required minlength="2"
             maxlength="50">
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" (click)="onDismiss('addModal')" type="reset">Dissmis</button>
        <button class="btn btn-outline-primary" [disabled]="form.invalid" type="submit">Ok</button>
      </div>
    </div>
  </form>
</app-modal>

<app-modal #deleteModal [modalConfig]="modalConfig">
  <button type="reset" class="btn btn-outline-secondary" (click)="onDismiss('deleteModal')">Dissmis</button>
  <button type="button" ngbAutofocus class="btn btn-danger" (click)="deleteModal.close()" (click)="onDelete()">Ok
  </button>
</app-modal>

<app-modal #editModal [modalConfig]="modalConfig">
  <form class="needs-validation" novalidate *ngIf="form != null" [formGroup]="form" (ngSubmit)="onEditSubmit()">
    <div class="form-group">
      <input class="form-control" formControlName="activityName" type="text" placeholder="Name" required minlength="2"
             maxlength="50">
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" (click)="onDismiss('editModal')" type="reset">Dissmis</button>
        <button class="btn btn-outline-primary" [disabled]="form.invalid" type="submit">Ok</button>
      </div>
    </div>
  </form>
</app-modal>
