<ng-container *ngIf="!isLoading">
  <div class="table-responsive">
    <table class="table table-hover text-nowrap">
      <thead>
      <tr>
        <th>ID</th>
        <th>{{ "activities.name" | translate }}</th>
        <th>{{ "activities.entries" | translate }}</th>
        <th>{{ "activities.updated" | translate }}</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <ng-container
        *ngFor="let activity of activities | paginate: {itemsPerPage: 10, currentPage: page}; let index = index">
        <tr (click)="navigateTo(activity.id)" style="cursor: pointer">
          <td>{{index + 1}}</td>
          <td>{{activity.activityName}}</td>
          <td>{{activity.content.length}}</td>
          <td *ngIf="activity.content.length == 0">{{"activities.never" | translate}}</td>
          <ng-container *ngFor="let content of activity.content let last = last; ">
            <td *ngIf="last">{{content.created | date: 'shortDate'}}</td>
          </ng-container>
          <td>
            <div class="btn-group">
              <button aria-expanded="false" class="btn btn-outline-secondary dropdown-toggle"
                      data-bs-toggle="dropdown" type="button" (click)="stopPropagation($event)">
                {{ "activities.action" | translate }}
              </button>
              <ul class="dropdown-menu" (click)="stopPropagation($event)">
                <li>
                  <a class="dropdown-item" routerLink="/{{this.router.url.split('/').pop()}}/details/{{activity.id}}">
                    {{ "activities.details" | translate }}
                    <i class="fa fa-search float-end"></i>
                  </a>
                </li>
                <li>
                  <a (click)="openEditModal(activity)" class="dropdown-item">
                    {{ "activities.edit" | translate }}
                    <i class="fa fa-pen float-end"></i>
                  </a>
                </li>
                <li>
                  <a (click)="openDeleteModal(activity)" class="dropdown-item">
                    {{ "activities.delete" | translate }}
                    <i class="fa fa-trash float-end"></i>
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <button (click)="openAddModal()" class="btn btn-primary" role="button">
      <i class="fa fa-plus float-end"></i>
    </button>
    <ng-container *ngIf="activities.length > 10">
      <pagination-controls (pageChange)="page = $event" nextLabel=" {{ 'pagination.next' | translate }} "
                           previousLabel=" {{ 'pagination.previous' | translate }} "></pagination-controls>
    </ng-container>
  </div>
</ng-container>

<app-loading-spinner *ngIf="isLoading" class="d-flex justify-content-center"></app-loading-spinner>

<app-modal #addModal [modalConfig]="modalConfig">
  <form (ngSubmit)="onAddSubmit()" *ngIf="form != null" [formGroup]="form" class="needs-validation" novalidate>
    <div class="form-group">

      <div class="form-floating">
        <input
          class="form-control"
          formControlName="activityName"
          id="addActivityName"
          maxlength="50"
          minlength="2" placeholder="Name"
          required
          type="text"
        >
        <label for="addActivityName">{{ "activities.name" | translate }}</label>
      </div>

      <div class="modal-footer">
        <button (click)="onDismiss('addModal')" class="btn btn-outline-secondary"
                type="reset">{{ "activities.cancel" | translate }}</button>
        <button [disabled]="form.invalid" class="btn btn-outline-primary" type="submit">Ok</button>
      </div>
    </div>
  </form>
</app-modal>

<app-modal #deleteModal [modalConfig]="modalConfig">
  <button (click)="onDismiss('deleteModal')" class="btn btn-outline-secondary"
          type="reset">{{ "activities.cancel" | translate }}</button>
  <button (click)="deleteModal.close()" (click)="onDelete()" class="btn btn-danger" ngbAutofocus type="button">Ok
  </button>
</app-modal>

<app-modal #editModal [modalConfig]="modalConfig">
  <form (ngSubmit)="onEditSubmit()" *ngIf="form != null" [formGroup]="form" class="needs-validation" novalidate>
    <div class="form-group">

      <div class="form-floating">
        <input
          class="form-control"
          formControlName="activityName"
          id="editActivityName"
          maxlength="50"
          minlength="2" placeholder="Name"
          required
          type="text"
        >
        <label for="editActivityName">{{ "activities.name" | translate }}</label>
      </div>
      <div class="modal-footer">
        <button (click)="onDismiss('editModal')" class="btn btn-outline-secondary"
                type="reset">{{ "activities.cancel" | translate }}</button>
        <button [disabled]="form.invalid" class="btn btn-outline-primary" type="submit">Ok</button>
      </div>
    </div>
  </form>
</app-modal>
