<body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Manage your activities in one tool</h1>
      <p class="lead">You do not need to use a notebook, spreadsheet or other tools to monitor your progress in the intended activities.
        Here you can add the exercises you do and their results. It will work just as well with resolutions.
        Do you want to start reading more books? Maybe you want to increase the amount of water you consume.
        Manage your activities and track their progress - from day one to the end. - in Progress tracker.</p>
      <p class="lead">
        <a routerLink="/home" href="#" class="btn btn-lg btn-primary">Get started!</a>
      </p>
    </main>
  </div>

</body>
